@import "./../../App.scss";

.container {
    width: 95%;
    overflow-y: auto;
    padding: 2%;

    &::-webkit-scrollbar {
        width: 10px;
        
    }
    &::-webkit-scrollbar-thumb {
        background-color: $primary;
        border-radius: 4px;
    }
    &::-webkit-scrollbar-track {
        border-radius: 4px;
    }


    &__student-list {
        margin-top: 5%;
        list-style: none;

    }
    &__count {
        font-size: 1em;
        margin: 0;
        font-weight: 100;
        
    }

    &__number {
        color: $primary;
    }

    &__title {
        margin: .67em 0 0;
        font-size: 1.5em; 
    }
}

